{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main_app/style.css' %}">
</head>
<body>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus illum veritatis eveniet quod ad nihil reiciendis perferendis voluptatem, ex ut, non doloremque omnis expedita dolorum libero eligendi a vel laborum!</h3>
</body>
</html>